In [1]:
import pandas as pd

In [2]:
pd.read_csv("test.csv")

    ml_experience  class_attendance  lab1  lab2  lab3  lab4  quiz1   quiz2
0               1                 1    92    93    84    91     92      A+
1               1                 0    94    90    80    83     91  not A+
2               0                 0    78    85    83    80     80  not A+
3               0                 1    91    94    92    91     89      A+
4               0                 1    77    83    90    92     85      A+
5               1                 0    70    73    68    74     71  not A+
6               1                 0    80    88    89    88     91      A+
7               0                 1    95    93    69    79     75  not A+
8               0                 0    97    90    94    99     80  not A+
9               1                 1    95    95    94    94     85  not A+
10              0                 1    98    86    95    95     78      A+
11              1                 1    95    88    93    92     85      A+
12              1                 1    98    96    96    99    100      A+
13              0                 1    95    94    96    95    100      A+
14              0                 1    95    90    93    95     70  not A+
15              1                 0    92    85    67    94     92  not A+
16              0                 0    75    91    93    86     85      A+
17              1                 0    86    89    65    86     87  not A+
18              1                 1    91    93    90    88     82  not A+
19              0                 1    77    94    87    81     89  not A+
20              1                 1    96    92    92    96     87      A+